
@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: #FDF6EA !important;
    
    }
    
    /* 
    
    .navbar-brand {
    
    font-size: 3rem;
    
    }
    
    */ 
    
    h1 {
    
    color: black;
    
    }

    .search-area{
        padding-top: 50px;
    }

    .no-right-padding{
        padding-right: 0 !important;
    }

    .no-left-padding{
        padding-left: 0 !important;
    }

    .results-block{
        display: inline-block;
        margin-bottom: 1rem;
    }
    
    .logout-button{
        margin-right: 5px;
    }
    .user_name{
        margin-top: 3.5%;
        margin-right: 10px;
    }